/* Estilos para NavigationBar */

.NavigationBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  z-index: 2;
  /* From https://css.glass */
  background: var(--background-secondary);
  border-bottom: var(--border-size) solid var(--foreground);
}

.NavigationBar__icon {
  color: var(--foreground);
  font-size: 2rem;
  padding: 0.2rem;
  width: 1em;
}

/* Animacion para ".NavigationBarContainer a" cuando es pulsado el texto este salta */

.NavigationBarContainer a {
  transition: all 1s ease-in-out;
}

.NavigationBarContainer a:hover {
  animation: pushListaProductos 1s ease-in-out;
}

@keyframes pushListaProductos {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* CSS animation component */

.preloader4 {
  position: relative;
  width: 100px;
}
.preloader4 span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3498db;
  opacity: 0.5;
  border-radius: 20px;
  animation: preloader4 1s infinite ease-in-out;
}
.preloader4 span:nth-child(2) {
  left: 20px;
  animation-delay: 0.2s;
}
.preloader4 span:nth-child(3) {
  left: 40px;
  animation-delay: 0.4s;
}
.preloader4 span:nth-child(4) {
  left: 60px;
  animation-delay: 0.6s;
}
.preloader4 span:nth-child(5) {
  left: 80px;
  animation-delay: 0.8s;
}
@keyframes preloader4 {
  0% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
    background: #c62906;
    box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
}

/* Estilos componente bannerUsuario */
.contenedorUsuarioBanner {
  transition: all 0.5s ease-in-out;
  z-index: 2;
  position: absolute;
  display: flex;
  padding: 0 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.48);
}

.banner {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.imageBanner {
  position: relative;
}

.menuUsuarioOpciones {
  transition: all ease-in-out 0.5s;
  position: relative;
  background: linear-gradient(to right, #ca1919, #e06533);
  background-color: #ca1919;
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}

.menuUsuarioOpciones:hover {
  background: linear-gradient(to right, #d05454, #e37d5e);
  background-color: #d05454;
}
.menuUsuarioOpciones:active {
  transform: scale(0.95);
}
